
.AddProduct .flexRow>div{
    flex:0 1 49%;
}

.AddProduct .imgPreview img{
    max-width : 100%;
}

.AddProduct .previewImage img{
    max-width : 100%;
}

.customForm textarea{
    resize:vertical
}

.AddCustomer .flexRow>div{
    flex:1 1 auto;
}